.customer_container {
  background-color: #333333;
}

.customer_container_title {
  margin-left: 50px;
  background-color: #333333;
  padding: 20px;
}

h1 {
  color: white;
  font-size: 50px;
}

h3 {
  color: white;
  font-size: 20px;
}

.container {
  padding: 40px;
}

.customer_table {
  width: 100%;
}

.customer_table tr:nth-child(odd) {
  background-color: #fff;
}

.customer_table tr:nth-child(even) {
  background-color: #fff;
}

.customer_table_author {
  color: #999;
}

.customer_table_created {
  position: absolute;
  margin-top: -22px;
  right: 300px;
}

.customer_table_btnRemove {
  border: none;
  background: none;
}

.customer_table_btnRemove_container {
  text-align: right;
  margin-top: -22px;
}

.customer_table_imgRemove {
  width: 20px;
}

hr {
  background: 1px #ccc;
}

a {
  text-decoration: none;
  font-size: 13pt;
  color: #333333;
}

.customer_table tr {
  background-color: #fff;
}

.customer_table tr:hover {
  background-color: #fafafa;
}
